.body{
    /* justify-content:center; */

    background: rgb(210,20,29);
    background: radial-gradient(circle, rgba(210,20,29,1) 26%, rgba(231,105,15,1) 69%);
}
.main_contener{
       /* background: rgb(2,0,36); */
    margin-top: 4%;
    margin-left: 37%;
    background: #E55D87;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5FC3E4, #E55D87);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5FC3E4, #E55D87); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius:5%;
}
.input_contener{
    margin: 1%;
}