.body{
    padding: 20px;
    background-color: rgb(51, 49, 61);
}
/* mix */
.main_contener{
    width: 250px;
    height:250px;
    background-color:aqua;
    border-radius: 50%;
    padding:10px;
    margin-top:50px ;
    margin: auto;
    /* margin-left: 25px;
    margin-bottom: 25px; */
}
.haveing_time_contener{
    align-items: baseline;
    width:230px;
    height:230px;
    background-color: rgba(22, 4, 4, 0.945);
    border-radius: 50%;
    padding-top: 30%;
    padding-left: 25%; 
}
/* clock */
.clock_part_btn{
    margin-top: 10px;
    justify-content:center;
}

.region_btn{
    width: 100px;
    margin: 5px;
}
/* timer */
.timer_div{
    width: 150px;
    height: 150px;
}
.timer_input{
    margin-top: 10px;
    justify-content:center;
}
.timer_btn{
    justify-content:center;
    margin-left:17px;
}
#timer_time{
    align-items: center;
}
#timer_box{
    position: fixed;
    left: 60%;
    top: 30px;
}
#showing_time_out{
    color:#5FC3E4;
    display: none;
    color: #5FC3E4;
}
.start_btn{
    width:275px;
    margin: 5px;
    margin-left:-13px ;
}
.timer_input_fildes{
    width:89px;
    margin: 2px;
}
/* digital clock  */
.digital_clock{
    text-align: center;
    margin: auto;
    margin-top: 50px;
    width: 650px;
    height:200px;
    padding:1px;
}
.digital_clock_box{
    text-align: baseline;
    background-color: rgba(22, 4, 4, 0.945);
    padding:5px;
    margin: 10px;
    width: 630px;
    height:180px;
    border-color: #fff;
}
