.row{
    display: flex;
    flex-direction:row;
}
.col{
    display: flex;
    flex-direction: column;
}
.sidebar{
    margin: 10px;
    text-align: left;
}
.center_bar_status_container_img{
    width: 90px;
    height: 150px;
    border-radius: 15px;
}
.centerbarstatuscontainerspan{
    color: white;
    margin-top:-45px ;
}
.width{
    width: 35px;
}
.bc{
    background-color: #1c1e21;
}
.divc{
    background-color: gray;
}
.br{
border-radius: 10px;
}
.fbr{
    border-radius: 25px;
}
.c{
    color:white;
}
.nabbarbutton{

}
.maincontainer{
height: 96%;
}
.nabbar{
/* background-color:rgba(0, 0, 0, 0.787); */
margin-bottom: 0;


}
.nabbarimg{
    width:35px;
    border-radius: 35px;
    margin-bottom: -15px;
    margin-left: 5px;
}
.nabbarinput{
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.404) ;
    color: white;
    width: 180px;
    height: 35px;
    border-radius: 25px;
    padding: 10px;
}
.maincontainer{
    /* background-color:#1c1e21; */
    text-align: center;
}
.row{
    display: flex;
    flex-direction: row;
}
.col{
    display: flex;
    flex-direction: column;
}
.sidebar{
    margin: 10px;
    text-align: left;
}
.sidebarcontainer{
    background-color: rgba(255, 255, 255, 0.404);
}
.centerbar{
    width: 50%;
    text-align: center;
}
.centerbarstatus{
    height: 170px;
    padding: 5px;
    width: 95%;
}
.centerbarstatuscontainer{
    background-color:rgba(255, 255, 255, 0.404);
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 150px;
    border-radius: 5px;
    margin: 1%;
}
.centerbarstatuscontainerspan{
    color: white;
    margin-top:-45px ;
}
.centerbarstatuscontainerimg{
    width: 90px;
    height: 150px;
    border-radius: 15px;
}
.centerbarroomdiv{
    text-align: left;
    color: blue;
}
.centerbarstatuscontainerpertionimg{
    border-radius: 25px;width: 50px;
    margin-bottom:-50px ;
}
.centerbarstorycontainer{
    /* background-color: rgba(128, 128, 128, 0.11); */
    padding: 20px;
    border-radius: 20px;
}
.centerbarstorycontainericon{
    color:white;
}
.centerbarstorycontainericonbtn{
    background-color: aqua;
}
.imgofyourstory{
    width: 40px;
    height: 40px;
    text-align: left;
    margin-bottom: -17px;
    border-radius: 25px;
}
.centerbarstorycontainerstoryinput{
    width:80%;
    height: 30px;
    border-radius: 15px;
}
.centerbarstorycontainer{
    background-color:rgba(255, 255, 255, 0.404);
    margin: 30px;
}
.frienddiv{
    display: flex;
    flex-direction: row;
}
.button{
    border-radius: 15px;

    background-color: rgb(120, 151, 209);
    color: blue;
}
.postdiv{
    margin-top:20px;
    border-radius: 15px
}
.yourdivsdiv{
    border-radius: 15px;
    height: 220px;
    background-color:rgba(255, 255, 255, 0.404);
    padding: 1%;
    margin: 1%;
    box-shadow: red;
}
.friendmaindiv{
    border-radius: 15px;
    background-color:rgba(255, 255, 255, 0.404);
}
.frienddivbutton{
    width: 90%;
    height: 30px;
    border-radius: 15px;
    margin: 5px;

}
.yourfriendimgdiv{
    width: 100px;
    height: 150px;
}
.leftsidebarcontainer{
    color: white;
    margin-bottom: 20px;
}
.leftsidebarcontainerdiv{
    margin-bottom: -20px;
}
.leftsidebar{
    margin-left: 25px;
    background-color:rgba(255, 255, 255, 0.404);
    width: 25%;
    text-align: center;
}
.leftsidebarimg{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-top:-20px ;
    margin: 1%;
}
.leftsidebarGroupconversations{
    color: white;
}
.leftsidebarGroupconversationsbutton{
    width: 40px;
    height: 40px;
    border-radius: 25px;
}
.leftsidebarGroupconversationsspan{
    color: white;
}
