.row{
    display: flex;
    flex-direction:row ;
}
.coll{
    display: flex;
    flex-direction:column;
}
.text{
    text-align: center;
}
.function{
margin-left:20px ;
}
.functionss{
    height: 40px;
}
.a{
    background-color: rgba(144, 189, 226, 0.349);
}
.face_book_style{
    margin: 2%;
    width: 90%;
    padding: 5%;
}
.b_g_c{
    border-radius: 12px;
    padding: 20px;
    background-color: #fff;   
}
.main_div{
    margin-top:10%;
}
.left_div{
    margin-left: 2%;

}

.main__2div{
    margin-bottom:10%;    
}