.hadder{
    background-color: black;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    padding-left:20% ;
}
.hadder_button{
    width: 10%;
    margin: 10px;
    height: 60%;
}
.table_elements{
    margin: 100px;
}