body {
    width: 100%;
    height: 100%;
    background-color: rgb(51, 49, 61);
}
.main-container {
    width: 100%;
    height: 100%;
    background-color: rgb(51, 49, 61);
    display: flex;
    align-items: center;
    padding: 40px 0px;
    justify-content: center;
}
.outer-container {
    width: 350px;
    height: 350px;
    background-color: aqua;
    border-radius: 50%;
    padding: 10px;
    margin: auto;
}
.inner-container {
    width: 350px;
    height: 350px;
    background-color: rgba(22, 4, 4, 0.945);
    border-radius: 50%;
    /* padding: 20%; */
    display: flex;
    align-items: baseline;
}
.time-container {
    width: 100%;
    height: 100%;
    color: aliceblue;
    align-items: center;
    display: flex;
}
.time-formets-button {
    width: 100px;
    margin: 5px;
    color: wheat;
    margin-top: 25px;
    background-color: rgb(51, 49, 61);
    border-color:aqua ;
    border-radius: 5px;
    height: 30px;
}
.text-center {
    font-size: 30px;
}

.time{
    margin: auto;
    text-align: center;
    width: 100%;
}
.row{
    display: flex;
    flex-direction: row;
}